@model Test3Class.Models.Subject
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form asp-action="Add" asp-controller="Subject" method="post">
    <input asp-for="SubjectName" placeholder="Subject Name" />
    <br /><br />
    <button type="submit">Add</button>
</form>
